<h1>List of Athletes</h1>

<table id="customers">
  <tr>
    <th>Athlete</th>
    <th>Country</th>
    <th>Number of Awards</th>
  </tr>
  <tr>
    <td>Cristiano Ronaldo</td>
    <td>Portugal</td>
    <td>42</td>
  </tr>
  <tr>
    <td>Lionel Messi</td>
    <td>Argentina</td>
    <td>56</td>
  </tr>
  <tr>
    <td>Son Heung-min</td>
    <td>South Korea</td>
    <td>12</td>
  </tr>
  <tr>
    <td>Erik Han Tag</td>
    <td>Deutschland</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Bruno Fernandez</td>
    <td>Portugal</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Harry Kane</td>
    <td>Germany</td>
    <td>12</td>
  </tr>
  <tr>
    <td>Lebron James</td>
    <td>United States of America</td>
    <td>31</td>
  </tr>
  <tr>
    <td>Michael Phelps</td>
    <td>United States of America</td>
    <td>21</td>
  </tr>
</table>
<img src="cotton.jpg" alt="picofmessi" width="500" height="600">